@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    height: -webkit-fill-available;
  }

  body {
    height: -webkit-fill-available;
  }

  /* If using React, set height on the root div as well */
  #root {
    height: -webkit-fill-available;
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }

  .custom-container {
    margin-bottom: 1rem; /* Adjust the value to reduce the gap */
  }

  .countdown-timer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: 1.0rem;
    background-color: #a3ec8f;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  }

  .countdown-timer span {
    margin: 0 0.5rem;
    color: #333;
    font-weight: bold;
    font-size: 1.3rem; /* Updated font size */
  }

  .countdown-timer .timer-value {
    color: #007bff;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url(../assets/img/o.jpg);
  background-size: cover;
}

a {
  color: #7dd3fc;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}
body {
  @apply min-h-screen-safe bg-black text-white;
}

* {
  box-sizing: border-box;
}

/* Counter */
[data-counter] {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: flex;
  font-family: system-ui;
  font-size: 1.2rem;
  border: solid 1px #aaa;
  width: fit-content;
  height: 60px;
  background-color: white;
  color: black;
  box-shadow: 0px 3px 10px -3px rgba(0, 0, 0, 0.25);
}

[data-value-container] {
  width: 3em;
  text-align: center;
  position: relative;
  overflow: hidden;
}

[data-value-container]::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    white,
    transparent 30%,
    transparent 70%,
    white
  );
}

[data-counter-increment],
[data-counter-decrement] {
  font-size: inherit;
  font-family: inherit;
  background: none;
  border: none;
  cursor: pointer;
  width: 3em;
  font-size: 0.9em;
  display: flex;
  padding: 0px 0.45em;
  align-items: center;
  height: 100%;
}

[data-counter-decrement] {
  justify-content: flex-end;
}

[data-counter-increment] {
  justify-content: flex-start;
}

[data-value-input] {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  border: none;
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  z-index: 1;
  appearance: none;
  border-radius: 0px;
  opacity: 0;
}

[data-value-input]:focus {
  opacity: 1;
}

/* Chrome, Safari, Edge, Opera */
[data-value-input]::-webkit-outer-spin-button,
[data-value-input]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

[data-value-one],
[data-value-two] {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all var(--transition-speed) ease;
  transform: translateY(var(--y-offset));
  line-height: 1.2em;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: inherit;
  font-size: inherit;
}



